@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.ietab-icon-toolsmenu {
  list-style-image: url("chrome://ietab/skin/ietab-button-ie16.png");
}

.ietab-icon-viewpage {
  list-style-image: url("chrome://ietab/skin/ietab-button-ie16.png");
}

.ietab-icon-viewlink {
  list-style-image: url("chrome://ietab/skin/ietab-button-ie16.png");
}

.ietab-icon-bookmark {
  list-style-image: url("chrome://ietab/skin/ietab-button-ie16.png");
}

.ietab-icon-tabbar-switch[engine="fx"] {
  list-style-image: url("chrome://ietab/skin/ietab-button-ie16.png");
}

.ietab-icon-tabbar-switch[engine="ie"] {
  list-style-image: url("chrome://ietab/skin/ietab-button-fx16.png");
}

.ietab-icon-viewpage-extapp {
  list-style-image: url("chrome://ietab/skin/ietab-extapp16.png");
}

.ietab-icon-viewlink-extapp {
  list-style-image: url("chrome://ietab/skin/ietab-extapp16.png");
}

.ietab-icon-bookmark-extapp {
  list-style-image: url("chrome://ietab/skin/ietab-extapp16.png");
}

.ietab-icon-tabbar-extapp {
  list-style-image: url("chrome://ietab/skin/ietab-extapp16.png");
}

#ietab-status-image[engine="fx"]  {
  list-style-image: url("chrome://ietab/skin/ietab-engine-fx.png");
}

#ietab-status-image[engine="ie"] {
  list-style-image: url("chrome://ietab/skin/ietab-engine-ie.png");
}

/* Toolbar button */

#ietab-button[engine="fx"]  {
  list-style-image: url("chrome://ietab/skin/ietab-button-ie24.png");
}
#ietab-button:hover:active[engine="fx"]  {
  list-style-image: url("chrome://ietab/skin/ietab-button-ie24a.png");
}

#ietab-button[engine="ie"] {
  list-style-image: url("chrome://ietab/skin/ietab-button-fx24.png");
}
#ietab-button:hover:active[engine="ie"] {
  list-style-image: url("chrome://ietab/skin/ietab-button-fx24a.png");
}

toolbar[iconsize="small"] #ietab-button[engine="fx"] {
  list-style-image: url("chrome://ietab/skin/ietab-button-ie16.png");
}
toolbar[iconsize="small"] #ietab-button:hover:active[engine="fx"] {
  list-style-image: url("chrome://ietab/skin/ietab-button-ie16a.png");
}

toolbar[iconsize="small"] #ietab-button[engine="ie"] {
  list-style-image: url("chrome://ietab/skin/ietab-button-fx16.png");
}
toolbar[iconsize="small"] #ietab-button:hover:active[engine="ie"] {
  list-style-image: url("chrome://ietab/skin/ietab-button-fx16a.png");
}

/* Statusbar drag and drop display */

statusbar[ietabdrag="true"] > statusbarpanel {
  -moz-appearance: none;
  visibility: visible;
  display: -moz-box !important;
}

statusbar[ietabdrag="true"] > #page-report-button {
  list-style-image: url("chrome://browser/skin/Info.png");
}

statusbar[ietabdrag="true"] > #security-button {
  list-style-image: url("chrome://browser/skin/Secure.png");
}

statusbar[ietabdrag="true"] > #livemark-button {
  list-style-image: url("chrome://browser/skin/page-livemarks.png");
}

statusbarpanel[ietabdrag="left"] {
  border-left-width: 2px;
  border-left-color: red;
}

statusbarpanel[ietabdrag="right"] {
  border-right-width: 2px;
  border-right-color: red;
}

/* treechildren checkbox */

treechildren::-moz-tree-checkbox {
  list-style-image: url("data:image/gif;base64,R0lGODlhEAAOALMAAAAAAISChMTCxPz%2B%2FAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAQAA4AAwQXEMhJq704681zCF0wfFwgkCXYrWzrbhEAOw%3D%3D") !important;
}
treechildren::-moz-tree-checkbox(checked) {
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAABGUlEQVR42mNkoBAwjhqA3YDcbR7snH%2Ble7n5uKNevX%2FDeOvSg00P3r9uvN1%2F%2ByVQ%2BitBA0q3JE31s3bO%2BsLyneHm24cMl27dYDi9%2BuKuy7NvlQCl7yEbgtWApkO5H0wN9fnf%2FfrEcO%2F1E4Zbz%2B4zXNx34%2BelluvZQOkdQPwUrwE5G2M%2Bqegr8n7%2B8ZXh%2BbtXDPdfPWW4vu%2F27weTnvQApZcB8RW8Brg2WS6VtZCJ%2Bs3yh%2BHNpw8MDx8%2BZbiz5P7jX6d%2FLyHKAIVEBWU%2BdvYZjKKMdh8%2FfWZ8dvzVi1%2FXfx9k%2BMywDyi9i6AXgIALiBWB2AyIlaFid4D4FBDfB%2BLvhAwAAU4gFgRiASj%2FAxC%2FA%2BIfBKORFDDwBgAAWtdxEQkZYoQAAAAASUVORK5CYII%3D") !important;
}
